In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from sklearn.metrics import accuracy_score

pio.templates.default = "plotly_white"

data = pd.read_csv(r"C:\Users\123ad\OneDrive\Desktop\adi_work\Credit Score Data\train.csv")
print(data.head())

     ID  Customer_ID  Month           Name   Age          SSN Occupation  \
0  5634         3392      1  Aaron Maashoh  23.0  821000265.0  Scientist
1  5635         3392      2  Aaron Maashoh  23.0  821000265.0  Scientist
2  5636         3392      3  Aaron Maashoh  23.0  821000265.0  Scientist
3  5637         3392      4  Aaron Maashoh  23.0  821000265.0  Scientist
4  5638         3392      5  Aaron Maashoh  23.0  821000265.0  Scientist

   Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0       19114.12            1824.843333                3.0  ...        Good
1       19114.12            1824.843333                3.0  ...        Good
2       19114.12            1824.843333                3.0  ...        Good
3       19114.12            1824.843333                3.0  ...        Good
4       19114.12            1824.843333                3.0  ...        Good

   Outstanding_Debt  Credit_Utilization_Ratio Credit_History_Age  \
0            809.98                 26.822620              265.0
1            809.98                 31.944960              266.0
2            809.98                 28.609352              267.0
3            809.98                 31.377862              268.0
4            809.98                 24.797347              269.0

   Payment_of_Min_Amount  Total_EMI_per_month  Amount_invested_monthly  \
0                     No            49.574949                 21.46538
1                     No            49.574949                 21.46538
2                     No            49.574949                 21.46538
3                     No            49.574949                 21.46538
4                     No            49.574949                 21.46538

                  Payment_Behaviour Monthly_Balance  Credit_Score
0   High_spent_Small_value_payments      312.494089          Good
1    Low_spent_Large_value_payments      284.629162          Good
2   Low_spent_Medium_value_payments      331.209863          Good
3    Low_spent_Small_value_payments      223.451310          Good
4  High_spent_Medium_value_payments      341.489231          Good

[5 rows x 28 columns]

In [43]:
data["Credit_Score"].value_counts()

Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [44]:
# fig = px.box(data, 
#              x="Occupation",  
#              color="Credit_Score", 
#              title="Credit Scores Based on Occupation", 
#              color_discrete_map={'Poor':'red',
#                                  'Standard':'yellow',
#                                  'Good':'green'})
# fig.show()

In [2]:
data["Credit_Mix"] = data["Credit_Mix"].map({"Standard": 1, 
                               "Good": 2, 
                               "Bad": 0})

In [41]:
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,NaN,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,NaN,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,NaN,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,NaN,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,NaN,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,NaN,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,NaN,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,NaN,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,NaN,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,NaN,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [3]:
from sklearn.model_selection import train_test_split
x = np.array(data[["Annual_Income", "Monthly_Inhand_Salary", 
                   "Num_Bank_Accounts", "Num_Credit_Card", 
                   "Interest_Rate", "Num_of_Loan", 
                   "Delay_from_due_date", "Num_of_Delayed_Payment", 
                   "Credit_Mix", "Outstanding_Debt", 
                   "Credit_History_Age", "Monthly_Balance"]])
y = np.array(data[["Credit_Score"]])
print(data)

           ID  Customer_ID  Month           Name   Age          SSN  \
0        5634         3392      1  Aaron Maashoh  23.0  821000265.0
1        5635         3392      2  Aaron Maashoh  23.0  821000265.0
2        5636         3392      3  Aaron Maashoh  23.0  821000265.0
3        5637         3392      4  Aaron Maashoh  23.0  821000265.0
4        5638         3392      5  Aaron Maashoh  23.0  821000265.0
...       ...          ...    ...            ...   ...          ...
99995  155625        37932      4          Nicks  25.0   78735990.0
99996  155626        37932      5          Nicks  25.0   78735990.0
99997  155627        37932      6          Nicks  25.0   78735990.0
99998  155628        37932      7          Nicks  25.0   78735990.0
99999  155629        37932      8          Nicks  25.0   78735990.0

      Occupation  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0      Scientist       19114.12            1824.843333                3.0
1      Scientist       19114.12            1824.843333                3.0
2      Scientist       19114.12            1824.843333                3.0
3      Scientist       19114.12            1824.843333                3.0
4      Scientist       19114.12            1824.843333                3.0
...          ...            ...                    ...                ...
99995   Mechanic       39628.99            3359.415833                4.0
99996   Mechanic       39628.99            3359.415833                4.0
99997   Mechanic       39628.99            3359.415833                4.0
99998   Mechanic       39628.99            3359.415833                4.0
99999   Mechanic       39628.99            3359.415833                4.0

       ...  Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
0      ...           2            809.98                 26.822620
1      ...           2            809.98                 31.944960
2      ...           2            809.98                 28.609352
3      ...           2            809.98                 31.377862
4      ...           2            809.98                 24.797347
...    ...         ...               ...                       ...
99995  ...           2            502.38                 34.663572
99996  ...           2            502.38                 40.565631
99997  ...           2            502.38                 41.255522
99998  ...           2            502.38                 33.638208
99999  ...           2            502.38                 34.192463

      Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0                  265.0                     No            49.574949
1                  266.0                     No            49.574949
2                  267.0                     No            49.574949
3                  268.0                     No            49.574949
4                  269.0                     No            49.574949
...                  ...                    ...                  ...
99995              378.0                     No            35.104023
99996              379.0                     No            35.104023
99997              380.0                     No            35.104023
99998              381.0                     No            35.104023
99999              382.0                     No            35.104023

       Amount_invested_monthly                 Payment_Behaviour  \
0                    21.465380   High_spent_Small_value_payments
1                    21.465380    Low_spent_Large_value_payments
2                    21.465380   Low_spent_Medium_value_payments
3                    21.465380    Low_spent_Small_value_payments
4                    21.465380  High_spent_Medium_value_payments
...                        ...                               ...
99995                24.028477   High_spent_Large_value_payments
99996                24.028477  High_spent_Medium_value_payments
99997                24.028477   High_spent_Large_value_payments
99998                24.028477    Low_spent_Large_value_payments
99999                24.028477  High_spent_Medium_value_payments

       Monthly_Balance  Credit_Score
0           312.494089          Good
1           284.629162          Good
2           331.209863          Good
3           223.451310          Good
4           341.489231          Good
...                ...           ...
99995       479.866228          Poor
99996       496.651610          Poor
99997       516.809083          Poor
99998       319.164979      Standard
99999       393.673696          Poor

[100000 rows x 28 columns]

In [38]:
print(y)

[['Good']
 ['Good']
 ['Good']
 ...
 ['Poor']
 ['Standard']
 ['Poor']]

In [4]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                    test_size=0.33, 
                                                    random_state=42)
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
# print(xtrain)
model.fit(xtrain, ytrain)
# print(ytrain)

C:\Users\123ad\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [5]:
y_pred_en = model.predict(xtest)
print(y_pred_en)

['Good' 'Poor' 'Standard' ... 'Good' 'Standard' 'Good']

In [6]:
print("Accuracy is ", accuracy_score(ytest,y_pred_en)*100)

Accuracy is  80.76060606060607

In [5]:
print("Credit Score Prediction : ")
a = float(input("Annual Income: "))
b = float(input("Monthly Inhand Salary: "))
c = float(input("Number of Bank Accounts: "))
d = float(input("Number of Credit cards: "))
e = float(input("Interest rate: "))
f = float(input("Number of Loans: "))
g = float(input("Average number of days delayed by the person: "))
h = float(input("Number of delayed payments: "))
i = input("Credit Mix (Bad: 0, Standard: 1, Good: 3) : ")
j = float(input("Outstanding Debt: "))
k = float(input("Credit History Age: "))
l = float(input("Monthly Balance: "))

features = np.array([[a, b, c, d, e, f, g, h, i, j, k, l]])
print("Predicted Credit Score = ", model.predict(features))

Credit Score Prediction :
Annual Income: 19114.12
Monthly Inhand Salary: 1824.843333
Number of Bank Accounts: 2
Number of Credit cards: 2
Interest rate: 9
Number of Loans: 2
Average number of days delayed by the person: 12
Number of delayed payments: 3
Credit Mix (Bad: 0, Standard: 1, Good: 3) : 3
Outstanding Debt: 250
Credit History Age: 200
Monthly Balance: 310
Predicted Credit Score =  ['Good']

In [ ]:
# example = 19114.12 , 1824.843333 , 2 , 2 , 9 , 2 , 12 , 3 , 3 , 250 , 200 , 310 expected ans 'Good'